---
const res = await fetch("https://pokeapi.co/api/v2/pokemon?limit=150");
import Layout from "@/layouts/Layout.astro";
import PokemonCard from "../components/pokemon/PokemonCard.astro";
const title = "Pokemon static | Home";
const data = await res.json();


---

<Layout title={title}>
  <h1 class="text-6xl text-center">Listado de Pokémons</h1>
  <hr />
  <section
    class="p-10 grid grid-cols-1 place-items-center sm:grid-cols-3 md:grid-cols-5 gap-4"
  >
    {
      data.results.map(({ name, url }) => (
        <PokemonCard name={name} url={url} isBig={false} transition:name=`pokemon-${name}`  />
      ))
    }
  </section>
  <main></main>
</Layout>
